<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <html> -->
<head>
	<meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script th:src="@{https://unpkg.com/axios/dist/axios.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/vue/dist/vue.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/vue-resource@1.5.1}"></script>
    
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    
    <title>vue.js Drag&Drop File Upload</title>
</head>
<body>

<div id="app">
       <div class="drop_area" 
       		@dragenter="dragEnter" 
       		@dragleave="dragLeave"
       		@dragover.prevent
       		@drop.prevent="dropFile"
       		:class="{enter: isEnter}">
           ファイルアップロード
       </div>
       <div>
       		<ul>
       			<li class="flex-col"
       				v-for="(file,index) in files"
       				:key="index"
       				@click="deleteFile(index)">
       				<span class="delete-mark">×</span>
       				<img class="file_icon" th:src="@{/img/moviefile.png}">
       				<span>{{ file.name }}</span>
       			</li>
       		</ul>
       		
       		<div v-show="files.length">
			    <button class="button" @click="sendFile">送信</button>
			</div>
       		
       </div>
</div>

<script th:src="@{/js/index.js}"></script>
</body>
</html>