<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <html> -->
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jQueryインポート（jsフォルダ内に配置） -->
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>

<!-- Vue.jsインポート（axiosは通信用） -->
<script th:src="@{https://unpkg.com/axios/dist/axios.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/vue/dist/vue.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/vue-resource@1.5.1}"></script>

<!-- スタイルシートインポート -->
<link th:href="@{/css/uploadindex.css}" rel="stylesheet" type="text/css">

<title>Fileアップロードロジック</title>
</head>

<body>

	<!-- 参考はここ： https://reffect.co.jp/vue/drag-drop-file-upload#dragenter_dragleave -->
	<!-- 1ファイルアップロード -->
	
	<!-- Vue.js発火 -->
	<div id="app">
	
		<!-- ドラッグ＆ドロップ時の動作を定義 -->
		<div class="drop_area" 
			@dragenter="dragEnter" 
			@dragleave="dragLeave" 
			@dragover.prevent 
			@drop.prevent="dropFile" 
			:class="{enter: isEnter}">
			
			<!-- 未アップロード時：テキスト表示 -->
			<span v-show="!files.length">動画ファイルをドラッグ＆ドロップ</span>
			
			<!-- アップロード時：ファイル名＆サンプルイメージ表示 -->
			<ul>
				<li class="flex-col" v-if="files.length">
					<img class="file_icon" src="../img/moviefile.png">
					<span>{{ files[0].name }}</span>
				</li>
			</ul>
			
		</div>

		<!-- 未アップロード時：エクスプローラからのファイル選択ボタン表示（ラベル制御） -->
		<div v-show="!files.length" class="upload-button-area">
			<label for="file_upload">
				<input type="file" id="file_upload"
					@change="dropFile" 
					:class="{enter: isEnter}">
						ファイル選択
				</input>
			</label>
		</div>

		<!-- アップロード時：エクスプローラからのファイル変更、キャンセルボタン表示（ラベル制御＆ボタン） -->
		<div v-show="files.length" class="upload-buttons-area">
			<!------ファイル変更 ------>
			<label for="file_upload">
				<input type="file" id="file_upload"
					@change="dropFile" 
					:class="{enter: isEnter}">
						ファイル変更
					</input>
			</label>
			<!------キャンセル ------>
			<button class="min-button" 
				@click="deleteFile()" 
				type="button">
					キャンセル
			</button>
		</div>


		<!-- submitボタンの表示（表示・非表示はjsで制御） -->
		<button class="update-button button-hide" id="validation-movie"
			type="button">投稿</button>

	</div>

	<!-- 制御用Vue.jsのインポート -->
	<script th:src="@{/js/uploadindex.js}"></script>
</body>
</html>